@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(14, 18, 23);
  color: rgb(168, 179, 207);
  font-family: "Poppins", sans-serif;
}

.bg-primary {
  background-color: rgb(14, 18, 23);
}
.bg-secondary {
  background-color: rgb(28, 31, 38);
}

.color-dark {
  color: rgb(14, 18, 23);
}

.border-color {
  border-color: rgb(45, 50, 59);
}
.border-color-light {
  border-color: rgb(85, 92, 108);
}

.hover-border:hover {
  border-color: rgb(84, 91, 106);
}

.hover-color:hover {
  background-color: rgb(45, 50, 59);
}
.hover-bg:hover {
  background-color: rgb(45, 50, 59);
}

/* hover color change */
.hover-color-green:hover {
  color: rgb(57, 229, 140);
}
.hover-color-blue:hover {
  color: rgb(41, 201, 211);
}
.hover-color-pink:hover {
  color: rgb(206, 61, 243);
}

/* hover bg color change */
.hover-bg-green:hover {
  background-color: rgb(28, 77, 56);
}
.hover-bg-blue:hover {
  background-color: rgb(24, 74, 82);
}
.hover-bg-pink:hover {
  background-color: rgb(67, 34, 86);
}
